{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
      {% if showForm %}
        <form action="/submit" method="POST">
          <label for="name_field">Name:</label>
          {% if profile %}
          <input name="name" value = "{{name}}" type="text" id="name_field" />
          {% else %}
          <input name="name" type="text" id="name_field" />
          {% endif %}
          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}
      <ul class="tweetlist" id="tweets">
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li class="tweetbox"><a href="/users/{{tweet.name}}"><strong>{{tweet.name}}</strong></a><br>{{tweet.text}}</li>
      {% endfor %}
    </ul>
      
    </div>
  </div>
    
{% endblock %}